*{
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    vertical-align: middle;
    margin: 2%;
    font-size: 15px;
}
.textNav{
    margin: auto 1%;
}
#textNav{
    margin: auto 5px;

    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}
#textNav:hover{
    text-decoration: underline;
}
.moreNav{
    margin-top: 3px;
    width: 3%;
}
.moreNav>img{
    width: 25px;
    cursor: pointer;
}
#login{
    text-decoration: none;

    border: 1px solid #4285f4;
    background-color: #4285f4;
    color: white;
    font-weight: bold;

    padding: 5px 9px;
}


main{
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.imgMain{
    display: flex;
    justify-content: center;

    margin-top: 5%;
    margin-bottom: 2%;
}
.imgMain>img{
    width: 20%;
}
.searchBar{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 40%;
    
    border: 1px solid rgb(223, 225, 229);
    border-radius: 25px;
    padding-right: 10px;
}
.container:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}
#search{
    margin-left: 10px;
}
#search>img{
    width: 25px;
}
#input{
    width: 100%;
}
#searchText{
    width: 100%;
    height: 30px;

    border: none;

    font-size: small;

    margin: auto 2%;
}
#searchText:focus{
    outline: none;

}
#audio{
    margin: 1%;
    
    cursor: pointer;
}
#audio>img{
    width: 15px;
}
.searchButton{
    display: flex;
    justify-content: center;
    
    margin-top: 2%;
    margin-bottom: 10%;
}

.searchButton>button{
    color: #5F6368;

    border: 1px solid #f2f2f2;
    border-radius: 5px;
    background-color: #f2f2f2;

    padding: 10px 15px;
    margin: auto 0.5%;

    font-size: medium;
}
.searchButton>button:hover{
    cursor: pointer;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}
.searchButton>button:focus{
    outline: none;
}



footer{
    position: fixed;
    bottom: 0;

    color: rgba(0,0,0,.54);
    background-color:  #f2f2f2;

    font-weight: normal;
    width: 100%;
}
.border{
    border: 1px solid #e2e2e2;
}
.location,
.info{
    margin: 0 25px;
    height: 35px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#left,
#right{
    display: flex;
    flex-direction: row;
}
.info p{
    margin-right: 15px;
    cursor: pointer;
}
.info p:hover{
    text-decoration: underline;
}




/* RESPONSIVIDADE */
@media (max-width:1000px){
    nav{
        font-size: 7px;
    }
    #login{
        margin: auto 15px;
    }
    
}
@media (max-width:900px){
    .searchButton>button{
        font-size: 8px;
    }
    footer p{
        font-size: 10px;
    }
}
@media (max-width:720px){
    .container{
        width: 65%;
        margin-top: 20px;
    }
    .imgMain>img{
        margin-top: 20px;
        width: 50%;
    }
}
@media(max-width:400px){
    .container{
        width: 70%;
        margin-top: 20px;
    }
    .imgMain>img{
        margin-top: 20px;
        width: 35%;
    }
}
@media (max-width:370px){
    .location,
    .info{
        margin: 0 5px;
    }
    footer p{
        font-size: 8px;
    }
}